{{#partial "content" }}

    <!-- Begin Page Content -->
    <div class="container-fluid">
        {{#question}}

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Question {{id}}</h1>
            </div>

            <div class="row">

                <div class="col-lg-12">

                    <!-- Basic Card Example -->
                    <div class="card h-500 shadow mb-4" style="min-height: 25rem;">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-6"><h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
                                </div>
                                <div class="col-2"><h6 class="m-0 font-weight-bold text-primary">
                                    {{author}}</h6></div>
                                <div class="col-2"><h6 class="m-0 font-weight-bold text-primary">
                                    {{registerDate}}</h6></div>
                                <div class="col-2"><h6 class="m-0 font-weight-bold text-primary">
                                    {{updateDate}}</h6></div>

                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>{{content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-1">
                    <form action="/questions/{{id}}/form" class="btn btn-primary btn-icon-split">
                        <input type="submit" value="edit" class="btn btn-primary btn-icon-split">
                    </form>
                </div>
                <div class="col-1">
                    <form action="/questions/{{id}}" method="post" class="btn btn-danger btn-icon-split">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger btn-icon-split">delete</button>
                    </form>
                </div>
                <div class="col-2">
                    <form action="/questions/{{id}}/answers" class="btn btn-dark btn-icon-split">
                        <button type="submit" class="btn btn-dark btn-icon-split">apply answer</button>
                    </form>
                </div>
            </div>


    </div>

    <div>
        <hr>

    </div>
    <!-- /.container-fluid -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Title</th>
                        <th>Register date</th>
                        <th></th>
                    </tr>
                    </thead>

                        {{#answerResDtos}}
                    <tbody>
                        <tr>
                            <td>{{id}}</td>
                            <td>{{title}}</td>
                            <td>{{registerDate}}</td>
                            <td><a href="/questions/{{question.id}}/answers/{{id}}" class="btn btn-info btn-circle btn-sm">
                                <i class="fas fa-info-circle"></i>
                            </a></td>
                        </tr>
                        {{/answerResDtos}}
                    </tbody>
        {{/question}}
                </table>
            </div>
        </div>
    </div>

{{/partial}}

{{> application_html/base}}
