{{#partial "content" }}

    <!-- Begin Page Content -->
    <div class="container-fluid">
    {{#answer}}

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Answer {{id}}</h1>
                <h4 class="h3 mb-0 text-gray-800">Question {{questionId}} - {{questionTitle}}</h4>
            </div>

            <div class="row">

                <div class="col-lg-12">

                    <!-- Basic Card Example -->
                    <div class="card h-500 shadow mb-4" style="min-height: 25rem;">
                        <div class="card-header py-3">
                            <div class="row">
                                <div class="col-6"><h6 class="m-0 font-weight-bold text-primary">{{title}}</h6>
                                </div>
                                <div class="col-2"><h6 class="m-0 font-weight-bold text-primary">
                                    {{author}}</h6></div>
                                <div class="col-2"><h6 class="m-0 font-weight-bold text-primary">
                                    {{registerDate}}</h6></div>
                                <div class="col-2"><h6 class="m-0 font-weight-bold text-primary">
                                    {{updateDate}}</h6></div>

                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p>{{content}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-1">
                    <form action="/questions/{{questionId}}/answers/{{id}}" method="post"
                          class="btn btn-danger btn-icon-split">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-danger btn-icon-split">delete</button>
                    </form>
                </div>

            </div>


        </div>
    {{/answer}}
    </div>
{{/partial}}

{{> application_html/base}}
